<div class="containerAll">
  
  <app-search-musee></app-search-musee>

  <section class="conteneurCentral">

      <div class="blocGauche">
        <app-image-musees></app-image-musees>
      </div>
      
      <div class="blocDroite">
        
        <div class="mat-app-background basic-container">
          <app-tableau-resultat-musee (codeMusee)="onCodeMusee($event)"></app-tableau-resultat-musee>
        </div>
      </div>

      <div class="blocMusee">
        <app-fiche-musee [codeMusee]="codeMusee"></app-fiche-musee>
      </div>

  </section>

</div>
