.conteneurAll {
  display: flex;
  flex-direction: column;
}

.conteneurCentral {
  background: rgba(0,0,0,0.6);
  margin: 0 auto;
  width: 90%;
  min-height: 75vh;
  border-radius: 5px;
  display: flex;
  min-width: 375px;
  padding : 10px;
  flex-flow: wrap;
}

.blocGauche{
  flex:0.8;
  align-self: center;
  text-align: -webkit-center;
}

.blocDroite {
  flex:1.5;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.blocMusee {
  flex:1;
  align-self: center;
  padding-top: 10px;
  padding-left: 20px;
}