.containerAll{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;

}

.containerPrincipal{
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  width: 90%;
  min-height: 75vh;
  border-radius: 5px;
  min-width: 375px;
  padding : 20px;
  flex-flow: wrap;
  flex-direction: row;
  color: darkgrey;
}

.containerPhoto{
  width: 250px;
  height: 200px;
  background-image: url("src/assets/images/museeBasic.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid red;
}

.nomMusee{

}
