<div class="typeRecherche">
    <select (change)="handleSelectTheme($event)">
        <option value=-1 selected> --Thèmes-- </option>
        <option value=1>Beaux-Arts</option>
        <option value=2>Sciences Fondamentales</option>
        <option value=3>Ethnologie</option>
        <option value=4>Arts décoratifs</option>
        <option value=5>Science de la nature</option>
        <option value=6>Technique et Industrie</option>
        <option value=7>Archéologie</option>
        <option value=8>Histoire</option>
        <option value=9>Art Moderne et Contemporain</option>
        <option value=10>Photographie</option>
        <option value=11>Civilisations Extra-Européennes</option>
        <option value=12>Aucun Thème Associé</option>
    </select>
</div>
