<div class='conteneurAll'>
    <!--Composant 2 : Barre de recherche-->

    <app-search-musee></app-search-musee>

        <!--Composant 3 : Bloc affichage-->
    <section class="conteneurCentral">
        
        <div class="blocGauche">
            <app-carte-region (codeRegionCarte)="onCodeRegionCarte($event)"></app-carte-region>
        </div>
        
        <div class="blocDroite">

            <app-liste-deroulante-en-cascade [codeRegionCarte]="codeRegionCarte" ></app-liste-deroulante-en-cascade>

            <app-tableau-resultat-musee></app-tableau-resultat-musee>

        </div>

    </section>

</div>