.conteneurAll {
    display: flex;
    flex-direction: column;
}

.conteneurCentral {
    background: rgba(0,0,0,0.6);
    margin: 0 auto;
    width: 90%;
    min-height: 75vh;
    border-radius: 5px;
    display: flex;
    min-width: 375px;
    padding : 15px;
    flex-flow: wrap;
}

.blocGauche{
    flex:1;
    align-self: center;
}

.blocDroite {
    flex:2;
    display: flex;
    flex-direction: column;
}