<div class="container" *ngIf="affichage === true">

  <form method="POST">
    <h1>Connexion</h1>

    <label>E-mail</label>
    <input type="text" placeholder="Entrer votre e-mail" name="e-mail" [(ngModel)]="user.mail" required>

    <label>Mot de passe</label>
    <input type="password" placeholder="Entrer le mot de passe" name="password"  [(ngModel)]="user.mdp" required>

    <button type="submit" id='submit' value='CONNEXION' (click)="auth.login(user.mail, user.mdp)" >CONNEXION</button>
    <a (click)="onInscription()" >créer un compte</a>

  </form>
</div>


<div   class="container" *ngIf="affichage === false">

  <form method="POST" (ngSubmit)="inscription()" >
    <h1>Inscription</h1>

    <label>Nom</label>
    <input type="text" placeholder="Entrer votre nom" name="nom"  [(ngModel)]="user.nom" required>

    <label>Prenom</label>
    <input type="text" placeholder="Entrer votre prénom" name="prenom"  [(ngModel)]="user.prenom" required>

    <label>E-mail</label>
    <input type="text" placeholder="Entrer votre e-mail" name="email"  [(ngModel)]="user.mail" required>


    <label>voie</label>
    <input type="text" placeholder="Entrer votre voie" name="voie"  [(ngModel)]="user.voie" required>

    <label>code postal</label>
    <input type="text" placeholder="Entrer votre CP" name="code_postal"  [(ngModel)]="user.codePostal" required>

    <label>ville</label>
    <input type="text" placeholder="Entrer votre ville" name="ville"  [(ngModel)]="user.ville" required>

    <label>Mot de passe</label>
    <input type="password" placeholder="Entrer un mot de passe" name="password"  [(ngModel)]="user.mdp" required>

    <span *ngIf="success === true" (click)="inscription()">Votre compte a bien été créé</span>

    <button type="submit" id='submit' value='INSCRIPTION'>INSCRIPTION</button>

    <a (click)="onConnexion()">cancel</a>

  </form>
</div>



