
<header class="navbar">
  <div class="logo">{{title}}</div>
  <nav>
    <ul>
      <li><a href="#" class="active">Accueil</a></li>

      <li><a routerLink="searchResultMusee" class="nav-link" routerLinkActive="active">Musées</a></li>
      <li><a routerLink="SearchResultMusee" class="nav-link" routerLinkActive="active">Expositions</a></li>
      <li><a href="#">Localisation</a></li>
      <li><a href="#">Thèmes</a></li>
      <li><a href="#">Artistes</a></li>
      <li><a href="#">Oeuvres</a></li>
      <li><a href="#">Se connecter</a></li>
    </ul>
  </nav>

  <div class="menu-toggle"><i class="material-icons">menu</i></div>
</header>
