/* Composant 1 */

header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  padding: 0 100px;
  background: #262626;
  width: 100%;
  box-sizing: border-box;
}

header .logo {
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  font-weight: bold;
  float: left;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
img {
  height: 50px;
}


header nav ul li {
  list-style: none;
}

header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  color: #fff;
  text-decoration: none;
  display: block;
}

header nav ul li a:hover, header nav ul li a.active {
  color: #fff;
  background: #2196f3;
}

.menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}

#button:hover, #button:active {
  color: #fff;
  background: #2196f3;
}

#button {
  font: 16px Roboto, "Helvetica Neue", sans-serif;
  background: none;
  border: none;
  color: white;
  padding: 15px 10px;
  display: block;
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #262626;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {background-color: #262626;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover #button {background-color: #2196f3;}


@media(max-width: 991px) {
  header {
    padding: 0 20px;
  }

  .menu-toggle {
    display: block;
  }

  header nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: #333;
    top: 50px;
    left: -100%;
    transition: 0.5s;
  }

  header nav.active {
    left: 0;
    z-index: 30;

  }

  header nav ul {
    display: block;
    text-align: center;
  }

  header nav ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

}
