<header class="navbar">
  <div class="logo">{{title}}</div>
  <nav [className]="activeMenu ? 'active' : 'inactive'">
    <ul>
      <li><a routerLink="/accueil" class="nav-link" routerLinkActive="active">Accueil</a></li>
      <li><a routerLink="/musees" class="nav-link" routerLinkActive="active">Musées</a></li>
      <li><a routerLink="/expositions" class="nav-link" routerLinkActive="active">Expositions</a></li>
      <li><a routerLink="/localisation" class="nav-link" routerLinkActive="active">Localisation</a></li>
      <li><a routerLink="/themes" class="nav-link" routerLinkActive="active">Thèmes</a></li>
      <li><a routerLink="/artistes" class="nav-link" routerLinkActive="active">Artistes</a></li>
      <li><a routerLink="/oeuvres" class="nav-link" routerLinkActive="active">Oeuvres</a></li>
      <li><a routerLink="/seconnecter" class="nav-link" routerLinkActive="active">Se connecter</a></li>
    </ul>
  </nav>

  <div (click)="handleClickMenu()" class="menu-toggle"><i class="material-icons">menu</i></div>
</header>
