<table class="tableauResultat">
    <thead>
        <tr>
            <th>Rang</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Réservation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Musée du Louvre</td>
            <td>Rue de Rivoli, 75001 Paris</td>
            <td><i class="material-icons">add_shopping_cart</i></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Musée du Louvre</td>
            <td>Rue de Rivoli, 75001 Paris</td>
            <td><i class="material-icons">add_shopping_cart</i></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Musée du Louvre</td>
            <td>Rue de Rivoli, 75001 Paris</td>
            <td><i class="material-icons">add_shopping_cart</i></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Musée du Louvre</td>
            <td>Rue de Rivoli, 75001 Paris</td>
            <td><i class="material-icons">add_shopping_cart</i></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Musée du Louvre</td>
            <td>Rue de Rivoli, 75001 Paris</td>
            <td><i class="material-icons">add_shopping_cart</i></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Musée du Louvre</td>
            <td>Rue de Rivoli, 75001 Paris</td>
            <td><i class="material-icons">add_shopping_cart</i></td>
        </tr>
        <tr>
            <td>7</td>
            <td>Musée du Louvre</td>
            <td>Rue de Rivoli, 75001 Paris</td>
            <td><i class="material-icons">add_shopping_cart</i></td>
        </tr>
        <tr>
            <td>8</td>
            <td>Musée du Louvre</td>
            <td>Rue de Rivoli, 75001 Paris</td>
            <td><i class="material-icons">add_shopping_cart</i></td>
        </tr>
        <tr>
            <td>9</td>
            <td>Musée du Louvre</td>
            <td>Rue de Rivoli, 75001 Paris</td>
            <td><i class="material-icons">add_shopping_cart</i></td>
        </tr>
        <tr>
            <td>10</td>
            <td>Musée du Louvre</td>
            <td>Rue de Rivoli, 75001 Paris</td>
            <td><i class="material-icons">add_shopping_cart</i></td>
        </tr>
    </tbody>
</table>

<div class="pagination">
    <a href="#" class="prev"><i class="material-icons">chevron_left</i></a>
    <a href="#" class="num activePagination">1</a>
    <a href="#" class="num">2</a>
    <a href="#" class="num">3</a>
    <a href="#" class="num">4</a>   
    <a href="#" class="num">5</a>
    <a href="#" class="next"><i class="material-icons">chevron_right</i></a>
</div>