.tableauResultat {
    color: #FFF;
    border-collapse: collapse;
    margin: 5px 0;
    font-size: 0.9em;
    margin-right: 10px;
    margin-left: 10px;
    width: 100%;
}

.tableauResultat thead tr {
    background-color: #262626;
    color: #FFF;
    text-align: center;
    font-weight: bold;
}

.tableauResultat th, .tableauResultat td {
    padding: 10px 10px;
}

.tableauResultat tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

.tableauResultat tbody tr:nth-of-type(even) {
    background: #686773;
}

.pagination {
    margin: 0.5em auto;
    text-align: center;
}

.pagination a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #262626;
    line-height: 30px;
    color: #FFF;
    font-weight: 200;
    transition: .3s;
    text-decoration: none;

    position: relative;
}

.pagination .prev .material-icons, .pagination .next .material-icons  {
    vertical-align: middle;
}

.pagination a:hover {
    color: #2196f3;
}

.activePagination {
    color:#2196f3 !important;
}

.prev {
    border-radius: 30px 0 0 30px;
}

.next {
    border-radius: 0 30px 30px 0;
}