<div class="container">
    <div class="card">
        <div class="photo">
            <div class="category">Musée</div>
        </div>
        <div class="news">
            <div class="buttons">
                <i class="material-icons">star_border</i>
                <i class="material-icons">star</i>
            </div>
            
            <div class="title">{{ musee?.nomMusee }}</div>
            <div class="coordonnées">{{ musee?.adresse }}, {{ musee?.ville }}</div>
            
            <div class="article">{{ musee?.description }}</div>
        </div>
    </div>
</div>
