<div class="typeRecherche">
    <select disabled>
        <option>{{ catPays }}</option>
        <option selected>France</option>
    </select>
    <select (change)="handleSelectRegion($event)" (codeRegionCarte)="getCodeRegionCarte($event)" >
        <option value="-1" selected>{{ catRegion }}</option>
        <option *ngFor="let region of listRegions" value={{region.codeRegion}} [selected]="region.codeRegion===selected">{{region.nomRegion}}</option>
    </select>
    <select (change)="handleSelectDepartement($event)">
        <option value="-1">{{ catDepartement }}</option>
        <option *ngFor="let departement of listDepartements" value={{departement.codeDepartement}}>{{departement.codeDepartement}}- {{departement.nomDepartement}}</option>
    </select>
    <select [disabled]="activeListe">
        <option value="-1">{{ catVille }}</option>
        <option *ngFor="let ville of listVilles">{{ville.nomVille}}</option>
    </select>
</div>