<div class="typeRecherche">
    <select disabled>
        <option>{{ catPays }}</option>
        <option selected>France</option>
    </select>
    <select>
        <option value="">{{ catRegion }}</option>
        <!-- Parcourir une liste de régions pour remplir la balise option -->
        <option *ngFor="let region of listRegions">{{region.nomRegion}}</option>
    </select>
    <select>
        <option value="">{{ catDepartement }}</option>
        <option *ngFor="let departement of listDepartements">{{departement.codeDepartement}}- {{departement.nomDepartement}}</option>
    </select>
    <select>
        <option value="">{{ catVille }}</option>
        <option *ngFor="let ville of listVilles">{{ville.nomVille}}</option>
    </select>
</div>