.container {
  width:300px;
  margin:0 auto;
  margin-top:15%;
  opacity: 0.95;
}

form {

  width:100%;
  padding: 40px;
  margin-bottom: 25px;
  border: 1px solid #f1f1f1;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.container h1{
text-align: center;
  margin: 0 auto;
  padding-bottom: 15px;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  color:#2196f3;
  text-decoration: underline;
}


button[type=submit] {
  background-color: #2196f3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button[type=submit]:hover {
  background-color: white;
  color: #2196f3;
  border: 1px solid #2196f3;
}




#delete {
  background-color: #F63838;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
#delete:hover {
  background-color: white;
  color: #F63838;
  border: 1px solid #F63838;
}
