<div class="searchBar">
<!--<mat-form-field>-->
  <input type="text" class="inputSearchBar" matInput  [matAutocomplete]="auto" placeholder="Recherche">
<!--</mat-form-field>-->
  <select>
    <option value="">--Options--</option>
    <option value="musees">Musées</option>
    <option value="expositions">Expositions</option>
    <option value="localisation">Localisation</option>
    <option value="themes">Thèmes</option>
    <option value="artistes">Artistes</option>
    <option value="oeuvres">Oeuvres</option>
  </select>

  <div class="searchBttn"><i class="material-icons">search</i></div>
</div>


<!--<ul class="search-result">-->
<!--  <li *ngFor="let musee of listMusee$ | async " >-->
<!--    <a routerLink="/musees/{{musee.idMusee}}">-->
<!--      {{musee.nomMusee}}-->
<!--    </a>-->
<!--  </li>-->
<!--</ul>-->
<mat-form-field>
  <input type="text" matInput  [matAutocomplete]="auto">
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let musee of listMusee$" [value]="musee">{{musee.nomMusee}}</mat-option>
</mat-autocomplete>




