
<div class="searchBar">
  <input type="text" placeholder="Recherche" class="inputSearchBar"
         matInput
         [formControl]="myControl"
         [matAutocomplete]="auto">
<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
<!--  <mat-option *ngFor="let musee of listMusee$" [value]="musee">{{musee.nomMusee}}</mat-option>-->
  <mat-option *ngFor="let option of filteredOption | async" [value]="option">
    {{option.nomMusee}}
  </mat-option>
</mat-autocomplete>
  <select>
    <option value="">--Options--</option>
    <option value="musees">Musées</option>
    <option value="expositions">Expositions</option>
    <option value="localisation">Localisation</option>
    <option value="themes">Thèmes</option>
    <option value="artistes">Artistes</option>
    <option value="oeuvres">Oeuvres</option>
  </select>

  <div class="searchBttn"><i class="material-icons">search</i></div>
</div>
