<div class="searchBar">
  <input type="text" class="inputSearchBar" placeholder="Recherche">

  <select>
    <option value="">--Options--</option>
    <option value="musees">Musées</option>
    <option value="expositions">Expositions</option>
    <option value="localisation">Localisation</option>
    <option value="themes">Thèmes</option>
    <option value="artistes">Artistes</option>
    <option value="oeuvres">Oeuvres</option>
  </select>

  <div class="searchBttn"><i class="material-icons">search</i></div>
</div>
